---
layout: default
---

<div class="container">
  <div class="header-image text-center position-relative text-light" xstyle="max-height: 250px; overflow:hidden;">
    <img src="/assets/img/home-header-image.jpg" class="img-fluid" title=""/>
    Photo by <a href="https://unsplash.com/@markusspiske?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Markus Spiske</a> on <a href="https://unsplash.com/photos/70Rir5vB96U?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

    {%- if page.title -%}
    <h1 class="header-image-text">{{ page.title }}</h1>
    {%- endif -%}
    {%- if site.posts.size > 0 -%}
    <h1 class="header-image-text">{{ page.list_title | default: "Posts" }}</h1>
    {%- endif -%}

  </div>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!--h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2-->
    <ul class="list-group">
      {%- for post in site.posts -%}
      <li class="list-group-item mt-2 mb-2">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>